<div class="theme-product-grid">
  <div class="page-width">
    {% if section.settings.title != blank %}
    <div class="title-wrap">
      <h2 class="title">{{ section.settings.title }}</h2>
    </div>
    {% endif %}

    <div class="product-grid-wrap">
      {% for block in section.blocks %}
        <div class="product-grid-item">
        {% render 'card-product',
          card_product: block.settings.product,
        %}
        </div>
      {% endfor %}
    </div>
    
  </div>
</div>

{% schema %}
  {
    "name": "Theme Product Grid",
    "tag": "section",
    "class": "theme-product-grid-section",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Title",
        "default": "Tisso vison in the wild"
      }
    ],
    "blocks": [
      {
      "type": "product",
      "name": "t:sections.collage.blocks.product.name",
      "settings": [
          {
            "type": "product",
            "id": "product",
            "label": "Select product"
          },
          {
            "type": "header",
            "content": "Button position"
          },
          {
            "type": "range",
            "label": "Position X",
            "default": 50,
            "id": "posX",
            "unit": "%",
            "max": 100,
            "min": 0,
            "step": 5
          },
          {
            "type": "range",
            "label": "Position Y",
            "default": 50,
            "id": "posY",
            "unit": "%",
            "max": 100,
            "min": 0,
            "step": 5
          }
        ]
      },
    ],
    "presets": [
      {
        "name": "Theme Product Grid",
        "blocks": []
      }
    ]
  }
{% endschema %}