@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Lustria&display=swap');

:root{
  --font-body-family: "Jost", system-ui;
  --font-heading-family: "Lustria", system-ui;
  --theme-color-1: #FFF544;
  --theme-color-2: #000000;
  --text-color: #000000;
}

body{
  font-family: var(--font-body-family);
  font-optical-sizing: auto;
  font-style: normal;
  letter-spacing: 0px;
  text-decoration: none;
}

/* Dawn Overwritten Classes */
@media screen and (min-width: 750px){
    .page-width {
        padding: 0 50px;
        max-width: 100%;
    }
}

/* Utility Classes */
.bg-layer img{
    width: 100%;
    display: block;
}

.mb-50 {
    margin-bottom: 50px;
}

.object-fit-cover{
    object-fit: cover;
}

/* Theme Header */
.main-header{
  background-color: #F5F5F5;
}

.header-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0px;
}

/* Buttons */

.btn{
  text-transform: uppercase;
  padding: 11px 41px 11px 41px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-decoration: none;
  min-width: 207px;
  transition: 0.5s ease;
}

.btn-arrow{
  padding: 11px 22px 11px 41px;
  display: inline-flex;
  column-gap: 18px;
}

.btn-theme{
  color: var(--theme-color-2);
  box-shadow: inset 0px 0px 0px 0px var(--theme-color-2);
  background-color: var(--theme-color-1);
}

.btn-theme:hover{
  color: #ffffff;
  box-shadow: inset 300px 0px 0px 0px var(--theme-color-2);
  background-color: var(--theme-color-2);
}

.btn-theme-dark{
  color: #ffffff;
  box-shadow: inset 0px 0px 0px 0px var(--theme-color-1);
  background-color: var(--theme-color-2);
}

.btn-theme-dark:hover{
  color: var(--theme-color-2);
  box-shadow: inset 300px 0px 0px 0px var(--theme-color-1);
  background-color: var(--theme-color-1);
}

/* Titles */

.title-lg {
    font-size: 70px;
    line-height: 70px;
    font-weight: 500;
    font-family: var(--font-body-family);
    letter-spacing: 0px;
    margin: 0px;
}

.title-md{
  font-family: var(--font-heading-family);
  font-size: 36px;
  font-weight: 400;
  margin: 0px;
}

/* Theme Banner */

.theme-banner-body {
    position: relative;
}

.theme-banner .theme-banner-content {
    position: absolute;
    z-index: 1;
    bottom:  0px;
    width: 100%;
}

.theme-banner-content .text-container {
    width: 40%;
    padding-bottom: 50px;
    padding-right: 24px;
}

.theme-banner-footer{
    background-color: #F5F5F5;
}

.theme-banner-footer .text-wrap {
    text-align: center;
    padding: 10px 0px;
}

/* Product Grid Section*/

.theme-product-grid-section {
    padding: 50px 0px;
}

.theme-product-grid .title-wrap {
  margin-bottom: 30px;
  letter-spacing: 0px;
  line-height: 43.2px;
}

.product-grid-wrap {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
    row-gap: 20px;
}

.product-grid-item {
    background-color: #f5f5f5;
}

.product-img-wrap img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.product-img-wrap {
    aspect-ratio: 43/44;
}

.product-block {
    position: relative;
}

.product-block .overlay-layer {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
}

.product-block .overlay-layer .mini-quick-add {
    position: absolute;
    left: var(--posX);
    top: var(--posY);
    width: 22px;
    height: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px;
    background: #F8F8F8E5;
    border: 0px;
    border-radius: 50%;
    z-index: 99;
    cursor: pointer;
}

.product-block .overlay-layer .mini-quick-add svg {
    width: 8px;
    height: auto;
}

/* Theme Product Grid Modals */

.theme-quickadd-modal {
    position: fixed;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    height: 100vh;
    width: 100%;
    z-index: 99;
    background-color: rgba(0,0,0,0.03);
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
}

.theme-quickadd-modal.active{
  display: none;
}

.theme-quickadd-modal .modal-dialog {
    background: #FFFFFF;
    width: 311px;
    box-shadow: 0px 2px 4px 0px #00000033;
    padding: 36px 20px 25px;
    position: relative;
}

.modal-dialog .close-btn {
    position: absolute;
    top: 12px;
    right: 15px;
    background: none;
    border: none;
    padding: 0px;
    cursor: pointer;
}

.theme-quickadd-modal .img-wrap img{
    display: block;
}

.theme-quickadd-modal .product-info {
    display: flex;
    column-gap: 8px;
    align-items: flex-end;
    margin-bottom: 10px;
}

.theme-quickadd-modal .product-info .info h3 {
    font-family: var(--font-body-family);
    font-weight: 300;
    font-size: 16px;
    line-height: 19.2px;
    margin: 0px 0px 10px 0px;
}

.theme-quickadd-modal .product-info .short-desc {
    font-size: 14px;
    letter-spacing: -0.3px;
    font-weight: 300;
    line-height: 15.4px;
}

.theme-quickadd-modal .product-info .price {
    font-family: var(--font-heading-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 19.2px;
    margin-bottom: 12px;
}