@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Lustria&display=swap');

:root{
  --font-body-family: "Jost", system-ui;
  --font-heading-family: "Lustria", system-ui;
  --theme-color-1: #FFF544;
  --theme-color-2: #000000;
  --text-color: #000000;
}

body{
  font-family: var(--font-body-family);
  font-optical-sizing: auto;
  font-style: normal;
  letter-spacing: 0px;
  text-decoration: none;
}

/* Dawn Overwritten Classes */
@media screen and (min-width: 750px){
    .page-width {
        padding: 0 50px;
        max-width: 100%;
    }
}

/* Utility Classes */
.bg-layer img{
    width: 100%;
}

.mb-50 {
    margin-bottom: 50px;
}

.object-fit-cover{
    object-fit: cover;
}

/* Theme Header */
.main-header{
  background-color: #F5F5F5;
}

.header-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0px;
}

/* Buttons */

.btn{
  text-transform: uppercase;
  padding: 11px 41px 11px 41px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-decoration: none;
  min-width: 207px;
  transition: 0.5s ease;
}

.btn-arrow{
  padding: 11px 22px 11px 41px;
  display: inline-flex;
  column-gap: 18px;
}

.btn-theme{
  color: var(--theme-color-2);
  box-shadow: inset 0px 0px 0px 0px var(--theme-color-2);
  background-color: var(--theme-color-1);
}

.btn-theme:hover{
  color: #ffffff;
  box-shadow: inset 300px 0px 0px 0px var(--theme-color-2);
  background-color: var(--theme-color-2);
}

.btn-theme-dark{
  color: #ffffff;
  box-shadow: inset 0px 0px 0px 0px var(--theme-color-1);
  background-color: var(--theme-color-2);
}

.btn-theme-dark:hover{
  color: var(--theme-color-2);
  box-shadow: inset 300px 0px 0px 0px var(--theme-color-1);
  background-color: var(--theme-color-1);
}

/* Titles */

.title-lg {
    font-size: 70px;
    line-height: 70px;
    font-weight: 500;
    font-family: var(--font-body-family);
    letter-spacing: 0px;
    margin: 0px;
}

/* Theme Banner */

.theme-banner {
    position: relative;
}

.theme-banner .theme-banner-content {
    position: absolute;
    z-index: 1;
    bottom:  0px;
    width: 100%;
}

.theme-banner-content .text-container {
    width: 40%;
    padding-bottom: 50px;
    padding-right: 24px;
}

